<a href="https://colab.research.google.com/github/appliedaitest/UCI_templates/blob/main/Adults.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome - Adults assessment

Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset

The idea is Predict whether income exceeds $50K/yr based on census data.

## Setup

Run all the below

In [3]:
## You can install libraries here
# !pip install requests
# !pip install pandas
# !pip install scikit-learn

In [4]:
import pandas as pd

columns = [
    'age', 'workclass', 'fnlwgt', 'education', 'education-num','marital-status',
    'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
    'hours-per-week', 'native-country', 'earnings'
]
df = pd.read_csv(
    'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', 
    header=None, names=columns
)
print("df.shape: ",df.shape)

df.shape:  (32561, 15)

# Go

In [5]:
df.head()

   age          workclass  fnlwgt  ... hours-per-week  native-country earnings
0   39          State-gov   77516  ...             40   United-States    <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States    <=50K
2   38            Private  215646  ...             40   United-States    <=50K
3   53            Private  234721  ...             40   United-States    <=50K
4   28            Private  338409  ...             40            Cuba    <=50K

[5 rows x 15 columns]