<a href="https://colab.research.google.com/github/appliedaitest/UCI_templates/blob/main/Bank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome - Bank assessment

The data you will load is related with direct marketing phonecalls campaigns of a Portuguese banking institution.

The idea is to build a classification model to predict if the client will  subscribe a term deposit ( variable: y ). 

Please be aware that final dataset is a Pandas Dataframe named final_df and it has 41188 rows and 15 columns. GOOD LUCK !

---

Attribute Information:

1 - age (numeric)

2 - job : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')

3 - marital : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)

4 - education (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')

5 - default: has credit in default? (categorical: 'no','yes','unknown')

6 - housing: has housing loan? (categorical: 'no','yes','unknown')

7 - loan: has personal loan? (categorical: 'no','yes','unknown')


**related with the last contact of the current campaign:**

8 - contact: contact communication type (categorical: 'cellular','telephone')

9 - month: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')

10 - day_of_week: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')

11 - duration: last contact duration, in seconds (numeric).

**other attributes:**

12 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)

13 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)

14 - previous: number of contacts performed before this campaign and for this client (numeric)

15 - poutcome: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')

**social and economic context attributes**

16 - emp.var.rate: employment variation rate - quarterly indicator (numeric)

17 - cons.price.idx: consumer price index - monthly indicator (numeric)

18 - cons.conf.idx: consumer confidence index - monthly indicator (numeric)

19 - euribor3m: euribor 3 month rate - daily indicator (numeric)

20 - nr.employed: number of employees - quarterly indicator (numeric)

**Output variable (desired target):**

21 - y - has the client subscribed a term deposit? (binary: 'yes','no')

## Setup

Run all the below

In [1]:
## You can install libraries here
# !pip install requests
# !pip install pandas
# !pip install scikit-learn

In [2]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank-additional.zip
!unzip bank-additional.zip
!ls bank-additional/*.csv

--2021-03-19 03:03:49--  https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank-additional.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 444572 (434K) [application/x-httpd-php]
Saving to: ‘bank-additional.zip’

bank-additional.zip 100%[===================>] 434.15K   663KB/s    in 0.7s

2021-03-19 03:03:50 (663 KB/s) - ‘bank-additional.zip’ saved [444572/444572]

Archive:  bank-additional.zip
   creating: bank-additional/
  inflating: bank-additional/.DS_Store
   creating: __MACOSX/
   creating: __MACOSX/bank-additional/
  inflating: __MACOSX/bank-additional/._.DS_Store
  inflating: bank-additional/.Rhistory
  inflating: bank-additional/bank-additional-full.csv
  inflating: bank-additional/bank-additional-names.txt
  inflating: bank-additional/bank-additional.csv
  inflating: __MACOSX/._bank-additional
bank-additional/bank-additional.csv  bank-additional/bank-additional-full.csv

In [3]:
import pandas as pd

original_df = pd.read_csv( "./bank-additional/bank-additional-full.csv", sep= ";")
print ("original_df.shape: ", original_df.shape)  

selected_cols = ['age', 'marital', 'default', 'housing', 'loan', 
                 'duration', 'campaign', 'pdays', 'previous', 
                 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m',
                 'nr.employed', 'y']

final_df =  original_df.loc[:, selected_cols]
print("final_df.shape: ",final_df.shape) #print(final_df.dtypes)

original_df.shape:  (41188, 21)
final_df.shape:  (41188, 15)

# Go

In [4]:
final_df.head()

   age  marital  default housing  ... cons.conf.idx  euribor3m  nr.employed   y
0   56  married       no      no  ...         -36.4      4.857       5191.0  no
1   57  married  unknown      no  ...         -36.4      4.857       5191.0  no
2   37  married       no     yes  ...         -36.4      4.857       5191.0  no
3   40  married       no      no  ...         -36.4      4.857       5191.0  no
4   56  married       no      no  ...         -36.4      4.857       5191.0  no

[5 rows x 15 columns]