<a href="https://colab.research.google.com/github/appliedaitest/UCI_templates/blob/main/Adults.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome - Census assessment

These 2 files are based on census data (data of people). You will find 2 types of people: ZXR AND JPM. Both types are discriminated by the column "id". Examples: 

id = ZXR-1500: Belong to an ZXR person.

id = JPM-1800: Belong to an JPM person.


The idea is Predict whether the income (for ZXR people) exceeds $50K/yr. GOOD LUCK!!

---


Take in consideration the header (name of columns) in each file is the following:



**In the “demographics” file (ZXR people - All the population):**


1- id : Id of the record.

2- age: Age of a person.

3- type_work: Employment status of a person.

4- study: Highest level education achieved by a person.

5- study_coded: Numerical form of education field.

6- Marital_status: Marital status of a person.

7- activity: Occupation of a person.

8- type_relationship: Represents what this person is relative to others.

9- ethnic_group: Represents the person’s race. 

10- biological_sex: Represents the sex of a person.



 

**In the “income” file (ZXR AND JPM people - part of the population):**



1- id: Id of the record.

2- savings: Represents the reported savings by a person.

3- capital-gain: Profit that results from the sale of capital assets (It doesn't take consideration salaries or wages).

4- capital_loss: Loss that results from the sale of capital assets (It doesn't take consideration salaries or wages).

5- number_hours: The number of hours reported by a person.

6- country: Native country for a person.

7- target: Whether or not the income of a person is greater than USD 50000 (annually).

## Setup

Run all the below

In [3]:
## You can install libraries here
# !pip install requests
# !pip install pandas
# !pip install scikit-learn

In [7]:
import pandas as pd


df_demo_zxr = pd.read_csv(
    'https://raw.githubusercontent.com/appliedaitest/UCI_templates/main/demographics_test.csv', 
    index_col = [0]
)
print("df_demo_zxr.shape: ",df_demo_zxr.shape)

df_demo_zxr.shape:  (32560, 10)

In [ ]:
df_income_zxr_jpm = pd.read_csv(
    'https://raw.githubusercontent.com/appliedaitest/UCI_templates/main/income_test.csv', 
    index_col = [0]
)

print("df_income_zxr_jpm.shape: ",df_income_zxr_jpm.shape)

# Go

In [10]:
df_demo_zxr.head()

,id,age,type_work,study,study_coded,Marital_status,activity,type_relationship,ethnic_group,biological_sex
0,ZXR1500,50.0,NaN,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male
1,ZXR1501,38.0,Private,HS-grad,9,$!@_@!$,Handlers-cleaners,Not-in-family,White,Male
2,ZXR1502,53.0,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male
3,ZXR1503,28.0,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female
4,ZXR1504,37.0,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female

In [9]:
df_income_zxr_jpm.head()

,id,age,type_work,study,study_coded,Marital_status,activity,type_relationship,ethnic_group,biological_sex
0,ZXR1500,50.0,NaN,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male
1,ZXR1501,38.0,Private,HS-grad,9,$!@_@!$,Handlers-cleaners,Not-in-family,White,Male
2,ZXR1502,53.0,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male
3,ZXR1503,28.0,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female
4,ZXR1504,37.0,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female